*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
/*
1. Posicionamiento
2. Modelo de caja (boc-model)
3. Tipografía
4. Visuales
5. otros
*/
:root {
    /*colores*/
    --bitcoin-orange:#F7931A;
    --soft-orange:#FFE9D5;
    --secondary-blue:#1A9AF7;
    --soft-blue:#E7F5FF;
    --warm-black: #201E1C;
    --warm-black1: #282623;
    --grey:#BABABA;
    --off-white:#FAF8F7;
    --just-white: #FFFFFF

}

html {
    font-size: 62.5%;
    font-family: 'DM Sans', sans-serif;
}
header {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-width: 320px;
    height: 334px;
    text-align: center;
    background: linear-gradient(207.8deg, #201E1C 16.69%, #F7931A 100%);
}
header img {
    width: 150px;
    height: 24px;
    margin-top: 60px;
    align-self:center;
}
.Header--title-container {
    width: 90%;
    min-width: 288px;
    max-width: 900px;
    height: 288px;
    margin-top: 40px;
    text-align: cente;
}
.Header--title-container h1 {
    font-size: 2.4rem;
    font-weight:bold;
    color: var(--just-white);
    line-height: 2.6rem;
}
.Header--title-container p {
    margin-top: 25px;
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1.8rem;
    color: var(--soft-orange);
}
.Header--title-container .header--button {
    position: absolute;
    left: calc(50% - 118px);
    top: 270px;
    display: block;
    margin-top: 35px;
    padding: 15px;
    width: 229px;
    height: 48px;
    background-color: var(--off-white);
    /* sombra*/
    box-shadow: 0px 4px 8px rgba(89,73,30,0.16);
    border: none;
    border-radius: 5px;
    font-size: 1.4rem;
    font-weight: bold;
    line-height: 18px;
    color: var(--warm-black);
    text-decoration: none;
    
} 
.header--button span {
    display: inline-block;
    width: 13px;
    height: 8px;
    margin-left: 10px;
    background-image: url(../assets/Icons/Vector.svg);
}
main {
    width: 100%;
    height: auto;
    background-color: var(--off-white);
}
.main-exchange-container {
    width: 100%;
    height: auto;
    padding-top: 80px;
    padding-bottom: 30px;
    text-align: center;
}
.main-exchange-container--title {
    width: 90%;
    min-width: 288px;
    max-width: 900px;
    margin: 0 auto;
}
.main-exchange-container .backgroundimg {
    width: 200px;
    height: 200px;
    margin: 0 auto;
    margin-bottom: 50px;
    background-image: url(../assets/Imgs/Bitcoin.svg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.main-exchange-container h2 {
    font-weight: bold;
    font-size: 2.4rem;
    line-height: 26px;
    color: var(--warm-black);
    margin-bottom: 30px;

}
.main-exchange-container p {
    font-weight: 500;
    font-size: 1.4rem;
    line-height: 1.6rem;
    color: #757575;
    margin: auto;
    margin-bottom: 30px;
}
.main-tables-container {
    display: flex;
    overflow-x:scroll;
    overscroll-behavior-x: contain;
    scroll-snap-type: x proximity;
}
.main-currency-table {
    width: 70%;
    min-width: 235px;
    max-width: 500px;
    height: 360px;
    margin: 0 auto;
    font-family: 'Inter', sans-serif;
    scroll-snap-align: center;
}
.main-currency-table .currency-table--title {
    font-size: 1.8rem;
    line-height: 2.3rem;
    color: #FF9536;
    margin-bottom: 15px;
    font-weight: bold;
}
.main-currency-table .main-comisions--title {
    font-size: 1.8rem;
    line-height: 2.3rem;
    color: var(--secondary-blue);
    margin-bottom: 15px;
    font-weight: bold;
}
.main-currency-table .currency-table--container {
    width: 90%;
    min-width: 230px;
    max-width: 300px;
    margin: 0 auto;
}
.currency-table--container table {
    width: 100%;
    height: 100%;
}
.currency-table--container td {
    width: 50%;
    height: 39px;
    font-size: 1.6rem;
    font-weight: 500;
    line-height: 1.9rem;
    color: #B5B0AC;;
    background-color: var(--just-white);
}
.table__top-left {
    border-top-left-radius: 15px;
}
.table__top-right {
    border-top-right-radius: 15px;
}
.table__bottom-left {
    border-bottom-left-radius: 15px ;
}
.table__bottom-right {
    border-bottom-right-radius: 15px;
}
.main-currency-table .table__right {
    font-size: 1.4rem;
    line-height: 1.7rem;
    font-weight: normal;
    color: #757575;;
}
.main-currency-table .down {
    display: inline-block;
    width: 15px;
    height: 15px;
    background-image: url(../assets/Icons/trending-down.svg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    margin-left: 10px;
}
.main-currency-table .up {
    display: inline-block;
    width: 15px;
    height: 15px;
    background-image: url(../assets/Icons/trending-up.svg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    margin-left: 10px;
}
.currency-table--date {
    width: 190px;
    height: 30px;
    margin: 0 auto;
    background-color: var(--soft-orange);
    border-radius: 10px;
    margin-top: 15px;
    padding: 8px;
}

.currency-table--date p {
    font-size: 1.2rem;
    font-weight: 500;
    line-height: 1.5rem;
    color: var(--warm-black);
}
.commisions-table--date {
    width: 190px;
    height: 30px;
    margin: 0 auto;
    background-color: var(--soft-blue);
    border-radius: 10px;
    margin-top: 15px;
    padding: 8px;
}
.commisions-table--date p {
    font-size: 1.2rem;
    font-weight: 500;
    line-height: 1.5rem;
    color: var(--warm-black);
}
.main-product-detail {
    position: relative;
    width: 100%;
    min-width: 320px;
    height: auto;
    padding: 10px 16px;
    background-color: var(--warm-black);
}
.product-detail--batata-logo {
    position: absolute;
    width: 40px;
    height: 25px;
    background-image: url(../assets/Icons/Vector-batata.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    top: -10px;
    left: calc(50% - 20px);
}
.product-detail-title {
    width: 90%;
    min-width: 288px;
    height: auto;
    margin: 0 auto;
    margin-top: 50px;
    text-align: center;
}
.product-detail-title h2{
    margin-bottom: 20px;
    font-size: 2.4rem;
    line-height: 2.6rem;
    font-weight: bold;
    color: #FFFFFF;
}
.product-detail-title p {
    margin-bottom: 20px;
    font-size: 1.4rem;
    font-weight:500;
    line-height:2.3rem;
    color: #808080;
}
.product-cards--container {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
}
.product-detail--card{
    width: 100%;
    height: auto;
    background-color: var(--warm-black1);
    padding-left: 16px;
    padding-right: 20px;
    margin: 15px 20px;
    border-radius: 5px;
    min-width: 288px;
    max-width: 400px;
    align-self: center;
    box-shadow: 0 4px 8px rgba(0,0,0,0.16);
}
.product-detail--card .product--card-title {
    color: var(--just-white);
    font-weight: bold;
    font-size: 1.8rem;
    line-height: 1.8rem;
    font-style: normal;
    margin-bottom: 5px;

}
.product-detail--card .product--card-body {
    font-size: 1.4rem;
    line-height: 1.8rem;
    font-weight: 500;
    color: #808080;
    margin-bottom: 5px;
}
.product-detail--card .clock {
    display: inline-block;
    width: 20px;
    height: 20px;
    background-image: url(../assets/Icons/clock.svg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    margin-bottom: 5px;
}
.product-detail--card .eye {
    display: inline-block;
    width: 20px;
    height: 20px;
    background-image: url(../assets/Icons/eye.svg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    margin-bottom: 5px;
}
.product-detail--card .dollar {
    display: inline-block;
    width: 20px;
    height: 20px;
    background-image: url(../assets/Icons/dollar-sign.svg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    margin-bottom: 5px;
}
.product-detail--card .check-circle {
    display: inline-block;
    width: 20px;
    height: 20px;
    background-image: url(../assets/Icons/check-circle.svg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    margin-bottom: 5px;
}
.bitcoin-img-container {
    width: 100%;
    min-width: 320px;
    height: 50vh;
    background-image: url('../assets/Imgs/bitcoinbaby1.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    text-align: center;
}
.bitcoin-img-container h2 {
    padding-top: 60px;
    font-size: 2.4rem;
    font-weight: bold;
    line-height: 2.6rem;
    color: var(--just-white);
}
.main-plans-container {
    width: 100%;
    min-width: 320px;
    padding-bottom: 70px;
    text-align: center;
    background-color: var(--just-white);
    margin-bottom: 50px ;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.plans--title {
    width: 90%;
    min-width: 288px;
    height: auto;
    margin: 0 auto;
}
.plans--title h2 {
    padding-top: 64px;
    font-weight: bold;
    font-size: 2.4rem;
    line-height: 2.6rem;
    color: var(--warm-black);
}
.plans--title p {
    padding-top: 24px;
    font-weight: 500;
    font-size: 1.4rem;
    line-height: 1.8rem;
    color: #757575;
}
.plans-container--slider{
    display: flex;
    width: 100%;
    min-width: 320px;
    height: 316px;
    overflow-x: scroll;
    overscroll-behavior-x: contain;
    scroll-snap-type: x proximity;
}
.plans-container--card {
    position: relative;
    scroll-snap-align: center;
    width: 65%;
    min-width: 190px;
    max-width: 320px;
    height: 250px;
    margin: 50px 15px 0;
    min-height: 247px;
    box-shadow: 0px 4px 8px rgba(89, 73, 30, 0.16);
    background-color: #FFFFFF;
    padding: 0 15px;
    border-radius: 15px;
}
.recomended {
    position: absolute;
    left: calc(50% - 50.5px);
    top: -15px;
    width: 101px;
    height: 31px;
    background-color: var(--bitcoin-orange);
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--just-white);
    font-size: 1.2rem;
    font-weight: bold;
    font-family: 'Inter', sans-serif;
}
.plan-card--title {
    padding-top: 30px;
    font-size: 1.8rem;
    font-weight: 500;
    line-height: 1.8rem;
    color: black;
}
.plan-card--price {
    padding: 5px;
    font-size: 5.2rem;
    font-weight: bold;
    line-height: 5.3rem;
    color: black;
    font-family: 'Inter', sans-serif;
    position: relative;
}
.plan-card--price span {
    position: absolute;
    top: -5px;
    left: 35px;
    font-size: 1.2rem;
    font-weight: 300;
}
.plan-card--saving {
    color: #757575;
    font-size: 1.2rem;
}
.plan-card--ca {
    width: 150px;
    height: 48px;
    margin-top: 20px;
    background-color: #faf8f7;
    border: 2px solid var(--bitcoin-orange);
    border-radius: 5px;
    font-size: 1.4rem;
    font-weight: bold;
    line-height: 1.8rem;
    color: black;
}
.plan-card--ca span {
    display: inline-block;
    width: 20px;
    height: 20px;
    background-image: url(../assets/Icons/arrow-right.svg);
    vertical-align: text-bottom;
}
footer {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 150px;
    background-color: var(--bitcoin-orange);
}
footer section {
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
footer .left li {
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1.8rem;
    list-style: none;
    margin: 10px 0px;
}
.left a {
    text-decoration: none;
    text-decoration-style:none ;
    color: var(--just-white);
}